/* Custom Stylesheet */
/**
*
*Verde Core = #64dd17;
*contraste = 900251;
*claro=#ccc;
*oscuro = #262626;
*más oscuro = #1d1d1d;
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:400,700');

.verde-core{
	background-color:#64dd17;
}
.claro{
	background-color:white;
}
.texto-verde-core{
	color:#64dd17;
}

.oscuro{
	background-color:#262626;
}
.texto-oscuro{
	
	color:#262626;
}

.mas-oscuro{
	background-color:#1d1d1d;
}

.texto-mas-oscuro{
	color:#1d1d1d;
}

.texto-claro{
	color: white;
}

.btn, .btn-large{
	color:#262626;
	background-color:#64dd17;
}

.btn:hover, .btn-large:hover{
	color:#262626;
	background-color:#a5e27f;
}
.btn:focus, .btn-large:focus{
	color:#1d1d1d;
	background-color:white;
}

.compra{
	width:75%;
	border-radius:25px;
	margin:auto;
}

.side-nav .divider {
	margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color:  #1d1d1d;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
	font-size: 1.8rem;
	line-height: inherit;
}

#logOut{
  position: absolute;
  right: 10%;
  top: 5vh;
  width: 40px;
  height: 40px;
  background-color:#900251;
}

#cartList{
	padding:15px;
	color:#1d1d1d;
	background-color:white;
	overflow-y: scroll; 
	max-height: 40vh; 
	min-height: 10vh;
}

#cartList img{
	border-radius:50%;
}

.purchase-data-container{
	padding-left: 32px ;
}

.cartElement{
	margin-top:5px;
	font-size:1.2em;
}

.header {
	background-color: #262626;
	width: 77%;
	float: right;
	padding: 5px;
	min-height: 80px;
}


.full-width{
	width:100%;
}

    div.center {
       margin: 0 auto;
    }

.logo-header {
	margin:auto;
	max-width:100%;
	max-height:100%;
}

.sublink{
	color:#262626;
}


.page-footer{
	background-color: #1d1d1d;
}

.page-footer .footer-copyright{
	text-align:center;
	color: #ccc;
}

.page-footer  a {
	color: #ccc;
}

.page-footer  a:hover {
	color: #64dd17;
	text-decoration: underline;
}

.input-field .prefix.active {
	color: #64dd17;
}

label .active {
	color: #64dd17;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #64dd17;
}

/*Afecta al input cuando no está seleccionado*/
input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
	border-bottom: 1px solid #262626;
}

/*Afecta al input cuando está seleccionado*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #64dd17;
  -webkit-box-shadow: 0 0px 0 0 #262626;
          box-shadow: 0 0px 0 0 #262626;
}

/*Afecta al OK del checkbox*/
[type="checkbox"]:checked + label::before {
	border-right: 3px solid #64dd17;
	border-bottom: 3px solid #64dd17;
}

.oculto{
	display:none;
}

/*relativo a las tarjetas de producto*/

.products-section {
	padding-top: 1rem;
	padding-bottom: 1rem;
	float: right;
	width: 75%;
}

.waves-effect img {
	border-radius: 5px;
}

.linea-producto{
	padding: 0em; margin: 0px;
}

.panel-producto{
	padding: 0px; width: 100%;
}

@media only screen and (max-width: 992px){
	.header {
		width: 100%;
	}
	
	.products-section {
		width: 100%;
	}
}


@media only screen and (min-width:993px){
	
.side-nav {
	width: 23%;
}
}


.total-text{
width: 50%; padding-left: 1em;
}

.info-producto{
	position:relative;
}

.titulo-producto {
	position:relative;
	padding-top: 0.5em;
	color:#1d1d1d;
	font-size: 1.6em;
	font-family: "Roboto Slab";
}

.precio-producto{
	position:relative;
	padding-top: 0.2em;
	color:#262626;
	font-size: 1.4em;
	font-family: "Roboto mono";
}

.stock-producto{
	position:absolute;
	font-size: 1em;
	color:#262626;
	font-family: "Roboto mono";
	font-weight:thin;
	margin-left: 0.5em;
	bottom: 5px;
	right: 8px;
}
